# Node
node_modules/
dist/
dist-ssr
build/
.env
*.local

# .NET Core
bin/
obj/
*.user
*.suo
.vs/
*.sqlite
*.db
*.sln

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.ntvs*
*.njsproj
*.sw?
